<div class="login-container" role="region" aria-label="Login">
  <h2>Login</h2>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    role="form"
    aria-label="Login Form"
  >
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" aria-label="Email" />
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')"
        >Email is required</mat-error
      >
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')"
        >Invalid email format</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="motDePasse"
        type="password"
        aria-label="Password"
      />
      <mat-error *ngIf="loginForm.get('motDePasse')?.hasError('required')"
        >Password is required</mat-error
      >
      <mat-error *ngIf="loginForm.get('motDePasse')?.hasError('minlength')"
        >Password must be at least 6 characters</mat-error
      >
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="loginForm.invalid || isLoading"
      aria-label="Login"
    >
      {{ isLoading ? "Logging in..." : "Login" }}
    </button>
  </form>
</div>
