<h2 mat-dialog-title>
  {{ data.departement ? "Edit Departement" : "Create Departement" }}
</h2>
<mat-dialog-content>
  <app-departement-form
    [departement]="data.departement"
    #departementForm
  ></app-departement-form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()" aria-label="Cancel">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!departementForm.departementForm.valid"
    (click)="onSubmit(departementForm.formValue)"
    aria-label="Save departement"
  >
    Save
  </button>
</mat-dialog-actions>
