<div class="utilisateur-list">
  <h1>Utilisateurs</h1>
  <div class="buttonWrapper">
    <button (click)="openDialog()">Nouveau Utilisateur</button>
  </div>

  <form [formGroup]="filterForm" class="filters">
    <select formControlName="selectedRole">
      <option [ngValue]="null" disabled selected hidden>
        Filtrer par rôle
      </option>
      <option [ngValue]="null">Tous les rôles</option>
      <option *ngFor="let role of roles" [ngValue]="role">{{ role }}</option>
    </select>
  </form>
  <div class="tableWrapper">
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Rôle</th>

          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of utilisateurs">
          <td data-label="Nom">{{ user.nom }}</td>
          <td data-label="Prénom">{{ user.prenom }}</td>
          <td data-label="Email">{{ user.email }}</td>
          <td data-label="Rôle">{{ user.role }}</td>
          <td data-label="Actions">
            <button [routerLink]="['/utilisateur/edit', user.id]">
              Modifier
            </button>
            <button *ngIf="user.id !== undefined" (click)="delete(user.id)">
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <button (click)="previousPage()" [disabled]="currentPage === 1">
        Précédent
      </button>

      <ng-container
        *ngFor="let page of [].constructor(totalPages); let i = index"
      >
        <button
          [class.active]="currentPage === i + 1"
          (click)="goToPage(i + 1)"
        >
          {{ i + 1 }}
        </button>
      </ng-container>

      <button (click)="nextPage()" [disabled]="currentPage === totalPages">
        Suivant
      </button>
    </div>
  </div>
</div>
