<div class="etablissement-list">
  <h1>Établissements</h1>
  <form [formGroup]="filterForm" class="filters">
    <select formControlName="selectedDepartement">
      <option [value]="null">Tous les départements</option>
      <option *ngFor="let dep of departements" [value]="dep.id">{{ dep.nom }}</option>
    </select>
  </form>
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Département</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let etab of etablissements">
        <td>{{ etab.nom }}</td>
        <td>{{ etab.departement?.nom || 'Aucun' }}</td>
        <td>
          <button [routerLink]="['/etablissement', etab.id]">Détails</button>
          <button [routerLink]="['/etablissement/edit', etab.id]">Modifier</button>
          <button *ngIf="etab.id !==undefined" (click)="delete(etab.id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="openCreateEtablissementModal()">Nouvel Établissement 2</button>

</div>