<div class="container">
  <h3>Signatures de la Loi Cadre</h3>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Utilisateur</th>
      <th>Date de signature</th>
      <th>Statut</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let sig of signatures">
      <td>{{ sig.utilisateur.nom }} {{ sig.utilisateur.prenom }}</td>
      <td>{{ sig.dateSignature ? (sig.dateSignature | date) : '-' }}</td>
      <td>{{ sig.statut }}</td>
      <td>
        <button class="btn btn-success btn-sm" *ngIf="sig.utilisateur.id === userId && sig.statut === 'EN_ATTENTE'" (click)="signer(sig.id!)">
          Signer
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
