<form [formGroup]="signatureForm" (ngSubmit)="save()" class="signature-form">
  <div>
    <label>Loi Cadre</label>
    <select formControlName="loiCadreId" required>
      <option [value]="null">Sélectionner une loi</option>
      <option *ngFor="let loi of lois" [value]="loi.id">{{ loi.annee }} - {{ loi.version }}</option>
    </select>
  </div>
  <div>
    <label>Signataire</label>
    <select formControlName="utilisateurId" required>
      <option [value]="null">Sélectionner un utilisateur</option>
      <option *ngFor="let user of utilisateurs" [value]="user.id">{{ user.nom }} {{ user.prenom }}</option>
    </select>
  </div>
  <button type="submit" [disabled]="signatureForm.invalid">Enregistrer</button>
</form>