<mat-sidenav-container
  class="sidenav-container"
  role="region"
  aria-label="Main Application"
>
  <mat-sidenav
    #sidenav
    mode="side"
    opened="false"
    class="sidenav"
    aria-label="Navigation Menu"
  >
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let link of navLinks"
        [routerLink]="link.path"
        routerLinkActive="active"
        [attr.aria-label]="link.label"
      >
        {{ link.label }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        aria-label="Toggle navigation menu"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Loi Cadre EPA</span>
      <span class="spacer"></span>
      <ng-container *ngIf="isAuthenticated(); else notAuthenticated">
        <span *ngIf="currentUser$ | async as user"
          >{{ user.nom }} {{ user.prenom }}</span
        >
        <button mat-button (click)="logout()" aria-label="Logout">
          Logout
        </button>
      </ng-container>
      <ng-template #notAuthenticated>
        <button mat-button routerLink="/login" aria-label="Login">Login</button>
      </ng-template>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
