<h2 mat-dialog-title>
  {{ data.etablissement ? "Edit Etablissement" : "Create Etablissement" }}
</h2>
<mat-dialog-content>
  <app-etablissement-form
    [etablissement]="data.etablissement"
    #etablissementForm
  ></app-etablissement-form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()" aria-label="Cancel">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!etablissementForm.etablissementForm.valid"
    (click)="onSubmit(etablissementForm.formValue)"
    aria-label="Save etablissement"
  >
    Save
  </button>
</mat-dialog-actions>
