<div *ngIf="loi" class="container">
  <h2>Détail de la Loi Cadre {{ loi.annee }} - V{{ loi.version }}</h2>

  <p><strong>Statut :</strong> {{ loi.statut }}</p>

  <hr />
  <h4>Mouvements associés</h4>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Type</th>
      <th>Date effet</th>
      <th>Description</th>
      <th>Poste concerné</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let mvt of loi.mouvements">
      <td>{{ mvt.type }}</td>
      <td>{{ mvt.dateEffet | date }}</td>
      <td>{{ mvt.description }}</td>
      <td>{{ mvt.posteConcerne?.codePoste }}</td>
    </tr>
    </tbody>
  </table>

  <a [routerLink]="['/mouvement/add', loi.id]" class="btn btn-sm btn-primary">Ajouter un mouvement</a>

  <hr />
  <h4>Postes budgétaires associés</h4>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Code Poste</th>
      <th>État</th>
      <th>Effectif initial</th>
      <th>Effectif final</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let poste of loi.postes">
      <td>{{ poste.codePoste }}</td>
      <td>{{ poste.etat }}</td>
      <td>{{ poste.effectifInitial }}</td>
      <td>{{ poste.effectifFinal }}</td>
    </tr>
    </tbody>
  </table>

  <a [routerLink]="['/poste/add', loi.id]" class="btn btn-sm btn-secondary">Ajouter un poste</a>
</div>
