<h2 mat-dialog-title>
  {{ data.mouvement ? "Edit Mouvement" : "Create Mouvement" }}
</h2>
<mat-dialog-content>
  <app-mouvement-form
    [mouvement]="data.mouvement"
    #mouvementForm
  ></app-mouvement-form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()" aria-label="Cancel">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!mouvementForm.mouvementForm.valid"
    (click)="onSubmit(mouvementForm.formValue)"
    aria-label="Save mouvement"
  >
    Save
  </button>
</mat-dialog-actions>
