<div class="departement-list">
  <h1>Départements</h1>
  <div class="actions">
    <button mat-raised-button color="primary" (click)="openDepartementModal()">
      Nouveau Département Modal
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let dep">{{ dep.nom }}</td>
    </ng-container>
    <ng-container matColumnDef="responsable">
      <th mat-header-cell *matHeaderCellDef>Responsable</th>
      <td mat-cell *matCellDef="let dep">
        {{ dep.responsable?.nom }} {{ dep.responsable?.prenom }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let dep">
        <button mat-button color="primary" (click)="openDepartementModal(dep)">
          Modifier
        </button>
        <button mat-button color="warn" (click)="dep.id && delete(dep.id)">
          Supprimer
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
